@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
html {
    height: 100%;


}
body {

    margin: 0;
    padding: 0;

    background-image: url("img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;


    box-sizing: border-box;

    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.625;

    text-align: left;
    background-color: #71919E;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
@media all and (max-width: 1025px){
    body {background-image: url("img/bg2.jpg");
            background-size: cover;}
}

a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: #044F82 0 0 1px;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1080;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
.navbar-main-outer {
    padding: 0 15px;
}
.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}
@media (max-width: 1025px) {
    .navbar-main{
        padding: 0;
    }
}
.navbar-main-element {
    display: flex;
    align-items: center;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand span {
    margin-left: 28px;
    font-size: 30px;
    font-weight: 400;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, [class*=heading-] {
    margin-bottom: 0;
    font-family: merriweather,times new roman,Times,serif;
    font-weight: 700;
    color: #293043;
}
.text-center {
    text-align: center!important;
}
.nav-item {
    display: inline-block;
}
.nav-item + .nav-item {
    margin-left: 28px;
}
.nav-button {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}
.nav-button:hover {
    color: #044F82;
}
.brand:hover {
    color: #044F82;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
@media (min-width: 1025px) {
    .nav-button {
        font-size: 25px;
    }
    .nav-min {
        display: none;
    }
    
}
 /* for phons */
@media (max-width: 1025px) {
    .navbar-wrap{
        display: none;
    }
}
input {display: none;}
label {cursor: pointer;}

.nav {user-select: none;}

.nav__showmenu {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-right: -10px;
    padding: 5px 10px 10px;
    top: 2px;
    font-size: 23px;
    color: #293043;
    text-shadow: #044F82 0 0 1px;
}
@media (max-width: 1025px) {
    .nav__showmenu{
    padding: 0 20px;
        font-size: 50px;
    margin-right: 10px;}
}


.menu, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 220px;
    margin: 0;
    padding: 100px 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #ffffff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}
.nav__back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .3s;
    display: none;

}


.menu__item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #293043;
    text-shadow: #044F82 0 0 1px;
}
.menu__item:hover {
    color: #044F82;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
.menu__submenu .menu__item {color: #000;}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#293043;}
.menu__check:checked~.menu__submenu {max-height: 100vh;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(0);}
.nav__check:checked~.nav__back {display: block}
/* for phons end*/
.navbar-static {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1080;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(155,160,172,.15);
}
.navbar-static a {
    color: #293043;
    text-shadow: #044F82 0 0 1px;
}
.about {
    width: 100%;
    padding-bottom: 100px;
}
.about-content {
    margin: 300px auto;
    width: 700px;
    text-align: justify;
    text-shadow: #044F82 0 2px 1px, #044F82 2px 0 1px, #044F82 0 2px 1px, #044F82 2px 2px 1px;
    color: #ffffff;
}
.first-page {
    height: auto;
}
@media (max-width: 767px) {
    .about-content {
        width: auto;
    }
    .about {
        height: auto;
    }
    .about-content h2,h1 {

        font-size: 40px;
    }
}
.about-content h2,h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}
.about-content small, .about__p{
    font-size: 25px;
    text-shadow: inherit;
}
@media (max-width: 767px) {
    .about-content {
        width: auto;
        margin-bottom: 500px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .about {
        height: auto;
    }
    .about-content h2,h1 {

        font-size: 40px;

    }
    .about-content small, p{
        font-size: 20px;

    }
}
.advantage1 {
    background-color: #ffffff;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
@media all and (max-width: 767px){
    .advantage1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
p, li {
    text-shadow: #044F82 0 0 1px;
    font-size: 20px;
}
.about-advantage {
    margin: 0 auto;
    padding-top: 100px;
    width: 700px;
    text-align: justify;
    color: #293043;
    text-shadow: #044F82 0 0 1px;
}
@media (max-width: 767px) {
    .about-advantage {
        width: auto;
    }
}
.advantage-list1 {
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
   width: 1200px;


    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #293043;

}
@media (max-width: 1200px) {
    .advantage-list1 {
        flex-direction: column;
        flex-basis: auto;
        align-items: center;
        width: auto;
    }
}
.advantage-list1 img {
    max-width: 500px;
    border-radius: 20%;
    margin-top: -70px;
    width: auto;
}
@media (max-width: 1200px) {
    .advantage-list1 img {
        margin-top: 0px;
    }
}
@media all and (max-width: 767px){
    .advantage-list1 img {
        margin-top: 0px;
        max-width: 300px;
    }
}
.advantage-list1 ul {
    text-align: left;
    list-style-image: url("img/listItem.svg");
    padding-bottom: 20px;
}
.advantage-list2 {
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
    width: 1200px;

    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
    color: #293043;

}
@media (max-width: 1200px) {
    .advantage-list2 {
        flex-direction: column;
        flex-basis: auto;
        align-items: center;
        width: auto;
    }
    .advantage-list2 img {

        order: 2;
}}
.advantage-list2 img {
    max-width: 300px;
    border-radius: 20%;


}
.advantage-list2 ul {
    text-align: left;
    list-style-image: url("img/listItem.svg");
    order: 1;

    padding-bottom: 20px;
}
.advantage-list2 ul li ul {
    list-style-image: none;
}
@media all and (max-width: 767px){


.advantage-list1 ul,
.advantage-list2 ul {
        padding-right: 10px;
        padding-left: 10px;
}}
.model {
    background-color: #ffffff;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    color: #293043;
    text-shadow: #044F82 0 0 1px;

}
.model-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    width: 1200px;
}
.model-img img {
    border-radius: 20%;
    box-shadow: 0 0 2px 5px #044F82;
    margin-top: 20px;
    width: 300px;
}


.design-list1 img,
.design-list2 img {
    width: auto;
    max-width: 600px;
}
    @media (max-width: 1200px) {
        .model-img {
            flex-direction: column;
            width: auto;

        }
        .model-img img {
            width: auto;
        }

    }
    @media (max-width: 767px) {
        .model-img img {
            width: 300px;
        }
    }

.design-list2 ul {
    padding-top: 100px;
    margin-left: 20px;
}
.design-list1 ul {
    margin-left: 20px;
}
@media (max-width: 1200px) {
    .design-list1 img,
    .design-list2 img {
        width: auto;
        max-width: 300px;
    }
}
footer {
    display: flex;



    margin: 0;
    border-top: 1px solid #E9E9EB;
    background-color: #ffffff;
    font-family: 'Arvo', serif;
    color: #293043;
    text-shadow: #044F82 0 0 1px;



}
.footer-block__about {
    text-align: center;
    margin: 20px;
}
@media (max-width: 1025px){
    .footer-block { flex-direction: column;}
    .about {
        height: auto;
    }
}
footer div {
    display: flex;
    flex-direction: column;

    width: 1200px;
    margin: auto;
    justify-content: center;

}
@media (max-width: 1200px){
    footer div {
        width: auto;
    }
}
footer div aside {
    display: flex;
    flex-direction: row;


    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}
@media (max-width: 1025px){
    footer div aside {flex-direction: column}
}
.popup-open {

    border: none;
    background-color: rgba(0,0,0,0);
    outline: none;

}
.popup-open img{
    width: 300px;
    border-radius: 20px;
}
.popup-open img:hover {

    box-shadow:  0 0 5px 10px #044F82;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
.popup {
    display: flex;
    position: fixed;

    left: 20%;
    top: 20%;
    bottom: 20%;
    right: 20%;
}
.popup div {
    display: block;
    width: auto;
    height: 581px;
    position: relative;
}
.popup-img {
    border-radius: 50px;
    border: 5px solid #044F82;
    width: 800px;
}
@media (max-width: 1025px) {
    .popup-img {
        width: 600px;
    }
    .popup {
        left: 10px;
    }
}
@media (max-width: 768px) {
    .popup-img {
        width: 500px;
    }
    .popup {
        left: 10px;
    }
}
@media all and (max-width: 483px), all and (max-height: 520px){
    .popup-img {
        width: 300px;
    }
    .popup {
        left: 10px;
        display: none;
    }

}
.popup-close {
    border: none;
    background-color: rgba(0,0,0,0);
    outline: none;
    position: absolute;
    right: 20px;
    bottom:300px;

}

.hidden {
    display: none;
}
.contact {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
    text-transform: lowercase;
    max-width: 250px;
    margin: 0;
}
.contact p {
    margin: 10px 0;
}
.contact h2 {
    margin-top: 0;
}
@media (max-width: 1200px){
    .contact { align-items: center;}
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #E9E9EB;
    padding: 20px 0;
}
@media all and (max-width: 767px){
    .copyright span{
        font-size: 15px;
        padding-right: 100px;
    }
}
.topcontrol {
    display:none ;
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 1;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
.show {
    display: block;
    transition: .35s all cubic-bezier(.65,.05,.36,1);
}
.anchor {

}
.company-name{
    font-size: 70px;
    margin-bottom: 20px;

}
.company-description{
    font-size: 30px !important;


}
.about__p {
    margin-top: 20px;

}
@media all and (max-width: 1200px){
    .company-name{
        font-size: 50px;
        margin-bottom: 20px;

    }
    .company-description{
        font-size: 25px !important;


    }
    .about__p {
        margin-top: 20px;

    }
}
.tel {
    color: #293043;
    text-shadow: #044F82 0 0 1px;
    font-size: 20px;

}

@media all and (max-width: 767px){
    .company-name{
        font-size: 40px;
        margin-bottom: 20px;

    }
    .company-description{
        font-size: 20px !important;


    }
    .about__p {
        margin-top: 20px;

    }
}

}